
body {
  height:700px;
}

.page-height {
  height:700px;
}

.number {
  display:inline-block;
  border-color: grey;
  border-width: 2px;
  border-top-width: 0;
  border-style:solid;
  width:2em;
  height:70px;
  font-size: 2em;
  text-align: center;
  line-height: 70px;
}

.heart {
  height: 70px;
  line-height: 70px;
  text-align: center;
  color:red;
}

.money img {
  margin-left: 6em;
}

#coin {
  position: relative;
  z-index: 9999;
}
